<h1>Let's add a new dog</h1>

<%= form_for @dog do |f| %>
  <%= f.label :name %> <br>
  <%= f.text_field :name %><br>
  <%= f.label :breed %> <br>
  <%= f.text_field :breed %><br><br>
  <%= f.submit "Make a dawg" %>
<% end %>
